.button-random {
    color: white;
    margin: 2rem auto;
    padding: 1.5rem 3rem;
    text-align: center;
    display: block;
    text-transform: uppercase;
    background-color: #ff7870;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    font-size: 30px;
}

body {
    height: 1000px;
    width: 100%;
}